<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ManagedBass" version="4.1.0-prerelease" manuallyInstalled="true" />
  <package id="ManagedBass.Fx" version="4.1.0-prerelease" manuallyInstalled="true" />
  <package id="NAudio" version="2.3.0" manuallyInstalled="true" />
  <package id="NAudio.Core" version="2.3.0" manuallyInstalled="true" />
  <package id="System.Drawing.Common" version="10.0.8" manuallyInstalled="true" />
</packages>